<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.king.mvvm.base">

    <application>

        <!-- MVVMFrame 全局配置 -->
        <meta-data android:name="com.king.mvvm.base.config.AppConfigModule"
            android:value="FrameConfigModule"/>

    </application>

</manifest>