<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.king.mvvm.news">

    <application>
        <activity android:name="com.king.mvvm.news.app.main.NewsMainActivity"
            android:screenOrientation="portrait"/>

        <!-- name为：IComponentApp的实现类，value固定为: ComponentApp -->
        <meta-data android:name="com.king.mvvm.news.NewsComponentApp"
            android:value="ComponentApp"/>

    </application>

</manifest>